{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Phishaway - Phishing Toolkit">
    <meta name="author" content="Jordan Wright (http://github.com/jordan-wright)">
    <link rel="shortcut icon" href="/favicon.png">

    <title>{{ .Title }} - Phishaway</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-logo" src="/images/logo_inv_small.png" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <h4 class="form-signin-heading">Add Restricted User</h4>
        <form class="form-signin" action="/addrestricteduser" method="POST">
            {{template "flashes" .Flashes}}
            <input type="text" name="username" class="form-control top-input" placeholder="Username" required autofocus/>
            <input type="password" name="password" class="form-control middle-input" placeholder="Password" required/>
            <input type="password" name="confirm_password" class="form-control bottom-input" placeholder="Confirm Password" required/>
            <input type="hidden" name="csrf_token" value="{{.Token}}"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
        </form>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
</body>

</html>
{{ end }}
