{{define "body"}}
<div class="clearfix"> </div>

<div class="page-container">
    
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler">
                        <span></span>
                    </div>
                </li>
                <li class="heading">
                    <h3 class="uppercase">Menu</h3>
                </li>
                <li class="nav-item  start">
                    <a href="/campaigns" class="nav-link">
                        <i class="icon-diamond"></i>
                        <span class="title">Campaigns</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="/filteredcampaigns" class="nav-link nav-toggle">
                        <i class="icon-puzzle"></i>
                        <span class="title">Phishing Results</span>
                    </a>
                </li>
                {{if .IsRestrictedUser}}
                {{else}}
                <li class="nav-item  ">
                    <a href="/users" class="nav-link">
                        <i class="icon-diamond"></i>
                        <span class="title">Users &amp; Groups</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="/templates" class="nav-link nav-toggle">
                        <i class="icon-puzzle"></i>
                        <span class="title">Email Templates</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="/landing_pages" class="nav-link">
                        <i class="icon-diamond"></i>
                        <span class="title">Landing Pages</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="/sending_profiles" class="nav-link nav-toggle">
                        <i class="icon-puzzle"></i>
                        <span class="title">Sending Profiles</span>
                    </a>
                </li>
                {{end}}
                <li class="nav-item  ">
                    <a href="/settings" class="nav-link">
                        <i class="icon-diamond"></i>
                        <span class="title">Settings</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="/about" class="nav-link nav-toggle">
                        <i class="icon-puzzle"></i>
                        <span class="title">About</span>
                    </a>
                </li>
            </ul>
            <!-- END SIDEBAR MENU -->
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">

        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN THEME PANEL -->
            <div class="theme-panel hidden-xs hidden-sm">
                <div class="toggler"> </div>
                <div class="toggler-close"> </div>
                <div class="theme-options">
                    <div class="theme-option theme-colors clearfix">
                        <span> THEME COLOR </span>
                        <ul>
                            <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Default"> </li>
                            <li class="color-darkblue tooltips" data-style="darkblue" data-container="body" data-original-title="Dark Blue"> </li>
                            <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue"> </li>
                            <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey"> </li>
                            <li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light"> </li>
                            <li class="color-light2 tooltips" data-style="light2" data-container="body" data-html="true" data-original-title="Light 2"> </li>
                        </ul>
                    </div>
                    <div class="theme-option">
                        <span> Theme Style </span>
                        <select class="layout-style-option form-control input-sm">
                            <option value="square" selected="selected">Square corners</option>
                            <option value="rounded">Rounded corners</option>
                        </select>
                    </div>
                    <div class="theme-option">
                        <span> Layout </span>
                        <select class="layout-option form-control input-sm">
                            <option value="fluid" selected="selected">Fluid</option>
                            <option value="boxed">Boxed</option>
                        </select>
                    </div>
                    <div class="theme-option">
                        <span> Header </span>
                        <select class="page-header-option form-control input-sm">
                            <option value="fixed" selected="selected">Fixed</option>
                            <option value="default">Default</option>
                        </select>
                    </div>
                    <div class="theme-option">
                        <span> Top Menu Dropdown</span>
                        <select class="page-header-top-dropdown-style-option form-control input-sm">
                            <option value="light" selected="selected">Light</option>
                            <option value="dark">Dark</option>
                        </select>
                    </div>
                    <div class="theme-option">
                        <span> Sidebar Mode</span>
                        <select class="sidebar-option form-control input-sm">
                            <option value="fixed">Fixed</option>
                            <option value="default" selected="selected">Default</option>
                        </select>
                    </div>
                    <div class="theme-option">
                        <span> Sidebar Style </span>
                        <select class="sidebar-style-option form-control input-sm">
                            <option value="default" selected="selected">Default</option>
                            <option value="light">Light</option>
                        </select>
                    </div>
                    <div class="theme-option">
                        <span> Sidebar Position </span>
                        <select class="sidebar-pos-option form-control input-sm">
                            <option value="left" selected="selected">Left</option>
                            <option value="right">Right</option>
                        </select>
                    </div>
                    <div class="theme-option">
                        <span> Footer </span>
                        <select class="page-footer-option form-control input-sm">
                            <option value="fixed">Fixed</option>
                            <option value="default" selected="selected">Default</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- END THEME PANEL -->
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>Phishing Results</span>
                    </li>
                </ul>
                <div class="actions pull-right">
                    <a class="btn btn-default btn-sm goback"><i class="fa fa-arrow-circle-o-left fa-lg"></i> Back</a>
                </div>
            </div>
            <div class="main">
                <div class="">    
                    <div id="campaign-results">
                        <div class="row">
                            <h1 class="page-title" id="page-title">Phishing Results</h1>
                        </div>
                        <div class="portlet light row bordered ">
                            <div class="portlet-title">
                              <div class="caption">
                                <i class="fa fa-star"></i> Search Campaign
                              </div>
                            </div>
                            <div class="portlet-body">
                                <form name="filterform" id="filterform" action="/filterresults" method="GET">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="filter">Campaign(s):</label>
                                                <div class="input-group col-md-9">
                                                    <input type="text" name="filter" id="filter" class="form-control col-md-9"></input>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-3" for="filter">Phishing Status:</label>
                                                <div class="input-group col-md-9">
                                                    <select id="statuses" class="form-control" name="statuses">
                                                        <option id="email-sent" name="email-sent" value="Email Sent">Sent</option>
                                                        <option id="email-opened" name="email-opened" value="Email Opened">Opened</option>
                                                        <option id="clicked-link" name="clicked-link" value="Clicked Link">Clicked Link</option>
                                                        <option id="submitted-data" name="submitted-data" value="Submitted Data">Submitted Credentials</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="actions pull-right">
                                        <a class="btn btn-primary" href="#" onclick="submitSearchForm()">Search</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                        
                        <br/>
                        <div id="loading">
                            <i class="fa fa-spinner fa-spin fa-4x"></i>
                        </div>
                        <div style="display:none;" id="results-body">
                            <div id="results-overflow"></div>
                            <div class="row">
                                <table id="resultsTable" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="col-md-3">Campaign</th>
                                            <th class="col-md-3">Email</th>
                                            <th class="col-md-2">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="flashes" class="row"></div>
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
<div class="page-footer">
    <div class="page-footer-inner"> 
        <a target="_blank" class="page-footer-inner" href="http://phishaway.com">2017 © Triskele Labs&nbsp;|&nbsp;</a> 
        <a target="_blank" class="page-footer-inner" href="http://phishaway.com">Website:phishaway.com &nbsp;|&nbsp;</a> 
        <a href="#" class="page-footer-inner" target="_blank">Contact Us:help@phishaway.com &nbsp;|&nbsp;</a> 

    </div>
    <div class="scroll-to-top" style="display: block;">
        <i class="icon-arrow-up"></i>
    </div>
</div>
{{end}}
{{define "scripts"}}
<script src="/js/jquery.ui.widget.js"></script>
<!-- d3, topojson, and datamaps for mapping -->
<script src="/js/d3.min.js"></script>
<script src="/js/topojson.min.js"></script>
<script src="/js/datamaps.min.js"></script>
<script src="/js/papaparse.min.js"></script>
<script src="/js/sweetalert2.min.js"></script>
<script src="/js/app/filterresults.js"></script>
{{end}}

