{{define "body"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/campaigns">Campaigns</a>
                </li>
                <li><a href="/filteredcampaigns">Phishing Results</a>
                </li>
                <li><a href="/users">Users &amp; Groups</a>
                </li>
                <li><a href="/templates">Email Templates</a>
                </li>
                <li><a href="/landing_pages">Landing Pages</a>
                </li>
                <li><a href="/sending_profiles">Sending Profiles</a>
                </li>
                <li class="active"><a href="/settings">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">Restricted Users</h1>
    </div>
    <div id="flashes" class="row"></div>
    <br/>
    {{if .Posted}}
    Num Users Updated: {{.NumUpdated}}
    {{end}}
    <form class="form-signin" action="/fixresultsstatus" method="POST">
        <input type="hidden" name="csrf_token" value="{{.Token}}"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Fix Results Status</button>
    </form>
    <br/>
</div>
{{end}}
{{define "scripts"}}
<script src="/js/app/settings.js"></script>
{{end}}
